<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="photo__small-card">
            <img src="https://assets.bileto.sympla.com.br/eventmanager/production/1nmvo78ls8c3aknc3rpo64qfeed8ktjs1terktc7njhbk6aeh6rtdo63p1ehn1qjn836ppvh1a21p2drnuudiihektioqbaeik7p6d7.webp" 
            alt=""
            >
        </div>

        <div class="title__small-card">
            <a href="#">TITLE - Título</a>
        </div>
    </div>
    
    <div class="container__small-card-separator">
        <hr/>
    </div>
</div>
